@import url('https://fonts.googleapis.com/css?family=Poppins');

.container {
  background-color: #dddddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 90%;
  margin: 50px auto;
  flex-direction: column; /* Ajout de la propriété flex-direction */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  height: 50px;
  width: 80%;
}

input[type="text"] {
  border-radius: 20px;
  border: none;
  padding: 10px 10px 10px 40px;
  font-family: 'Poppins';
  text-align: start;
  background-image: url('https://cdn-icons-png.flaticon.com/512/149/149852.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
 width: 100%;
}

button[type="submit"] {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-left: 10px;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  color: #e18121;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Poppins';
}

button[type="submit"]:hover {
  background-color: #e18121;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  
  .search-form {
    width: 100%;
  }
  
  .sort-container {
    flex-wrap: wrap;
  }
  
  .sort-container .sort-box {
    flex-basis: calc(50% - 20px);
    margin-bottom: 10px;
  }
}


/* Styles pour les éléments de tri */
.sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sort-container > * {
  margin-right: 10px;
}

.sort-container .sort-box {
  content: "\2195";
  flex: 1;
  position: relative;
  margin: 0;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  height: 30px;
  font-family: 'Poppins';
  margin:0 10px;
  

}

.sort-container .sort-box svg {
  color: #d1761b;
  margin-right: 5px;
}
.sort-container .sort-box:before,
.sort-container .sort-box:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.sort-container .sort-box:before {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.2);
  
}

.sort-container .sort-box:after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.1);
}

/* Styles pour les éléments de tri spécifiques */
#level-sort.sort-box {
  width: 200px;
}

#date-sort.sort-box {
  width: 250px;
}

/* Media queries pour les écrans plus petits */
@media only screen and (max-width: 600px) {
  .sort-container {
    flex-wrap: wrap;
  }
  
  .sort-container .sort-box {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 10px;
  }
  
  #level-sort.sort-box {
    width: auto;
  }
  
  #date-sort.sort-box {
    width: auto;
  }
}
